# Maven
target/

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Spring Boot
*.jar
*.war

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# 真实配置文件不上传
**/application.yml
**/application-*.yml
!**/application-example.yml
